// authMethod
.authMethod__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}

.addAuthMethodButton {
  display: flex;
}

.authMethodTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addAuthMethodDialog {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 280px;
  gap: 40px;
  margin-top: 8px;
}

.authMethodDialogActions {
  padding: 8px 24px;
  margin-bottom: 10px;
  gap: 20px;
}
