// _dashboard.scss
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  width: 100%;
}

.dashboard__container1 {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.dashboard__container2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.allEvents {
  display: flex;
}

.uniqIp {
  display: flex;
}

.activeTraps {
  display: flex;
}

.dashboard__container3 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.dashboard__container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.eventsMap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  height: 150px;
  background-color: rgb(222, 222, 222);
}
