// header.scss
.header_container {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

.headerBar {
  height: 60px;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 16px;
  padding: 20px 25px 0 25px;
}
