// notifications
.notifications__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}

.addNotificationsButton {
  display: flex;
}

.notificationsTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addNotificationsDialog {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 280px;
  gap: 40px;
  margin-top: 8px;
}

.notificationsDialogActions {
  padding: 8px 24px;
  margin-bottom: 10px;
  gap: 20px;
}
